mixin figure(img, description)
  figure
    label(for="mn-" + img).margin-toggle &#8853;
    input(type="checkbox", id="mn-" + img).margin-toggle
    span.marginnote= description
    img(src="img/"+ img + ".jpg", alt=description)

mixin fullwidth(img, description)
  figure.fullwidth
    img(src="img/"+ img, alt=description)

mixin marginnote(id, text)
  label(for=id).margin-toggle &#8853;
  input(id=id, type="checkbox").margin-toggle
  span.marginnote= text

mixin sidenote(id, text)
  label(for=id).margin-toggle.sidenote-number
  input(id=id, type="textbox").margin-toggle 
  span.sidenote= text

mixin epigraph(quote, author, source)
  .epigraph
    blockquote 
      p= quote
      footer #{author}, 
        cite #{source}

mixin youtube(id)
  figure.iframe-wrapper 
    iframe(width=560, height=315, src="https://youtube.com/embed/" + id, title="YouTube video player", frameborder=0, allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)