---
title: Resumé/CV of Mark McLaughlin, mobile and devices UI designer
layout: default.njk
---

mixin figure(img, description)
  figure
    label(for="mn-" + img).margin-toggle &#8853;
    input(type="checkbox", id="mn-" + img).margin-toggle
    span.marginnote= description
    img(src="img/"+ img + ".jpg", alt=description)

mixin fullwidth(img)
  figure.fullwidth
    img(src="img/"+ img)

mixin marginnote(id, text)
  label(for=id).margin-toggle &#8853;
  input(id=id, type="checkbox").margin-toggle
  span.marginnote= text

mixin sidenote(id, text)
  label(for=id).margin-toggle.sidenote-number
  input(id=id, type="textbox").margin-toggle 
  span.sidenote= text

article
  section
    h1 Mark McLaughlin

    p I'm an English-born, Irish designer and developer with over 20 years experience creating content and user interfaces for web, mobile web, native applications and hardware devices.
    p I've worked hand-in-hand with hardware partners, design teams, product managers and engineers to deliver compelling and user-friendly interfaces for almost every consumer electronics platform - mobile, desktop, augmented reality, smart TV's, game consoles and the web.

  section
    h2 Microsoft
    h3 Principal Design Manager, Developer Division
    p I'm currently managing a team of 12 individual contributors across the the US and Europe, designing the developer experience for the #[i Visual Studio] family of code editing tools at Microsoft in Seattle.
    p Initially brought into the team for my design systems expertise, my role expanded to lead a group of design technologists, building out prototypes, Figma extensions and open-source tooling to help bridge the gap between design and engineering teams.

    +figure("status-board", "Prior to the pandemic, I built a live status board to keep the team informed of relevant daily information while in the office space, showing data from WSDOT and other local sources.")

  section
    h3 Senior Design Manager, Developer Services
    p During the course of 2017, I managed a team of 8 individual contributors across Redmond, Raleigh and Hyderabad for the Developer Services group at Microsoft, building out experiences for distributed development teams that relied on the collaborative Azure DevOps suite; including work item tracking, repository management, component governance and other enterprise-scale features.
    +figure("azure-devops")
    p In this role, I initiated the usage of Figma#[+sidenote("sn-figma", "Within the team at Figma, I'm infamously known as Patient Zero.")] across Microsoft, including speaking and sharing best practices at internal events, and ultimately facilitating over 4,000 editors within the Developer Division, Dynamics, Microsoft 365, Windows, and Azure product teams to move to one centralised design tool.

  section
    h2 Skype
    h3 Senior Design Manager, Gaming and Entertainment
    p Wrapping up my tenure at Skype in 2017, I flipped back to an individual contributor role to take the opportunity to redesign the desktop Skype experience to a UWP#[+sidenote('sn-uwp', 'Universal Windows Platform')] application on the Xbox One platform.
    p Taking advantage of the Kinect sensor for skeletal tracking, and the unique affordances given by the use of the Xbox One controller and remote, I built out Framer prototypes to demonstrate these hardware interactions, while providing the developer team with a sense of how motion and transitions should behave throughout the application.
    +figure("skype-for-xbox-one", "Skype for Xbox One, showing the multi-party video experience.")
  
    p.subtitle Skype for HoloLens 
    p My team were responsible for building the companion experience for remote participants and collaborating with the Windows Holographic team for the native app. 
    +marginnote("mn-dynamics-365", "After the general dissolution of Skype into the Microsoft Teams family, this product lives on as 'Remote Assistance for Dynamics 365'")
    p While the holographic version of the application served as a showcase for permitting the user to share their Mixed Reality experience with a third party, many of the design challenges were around how Windows users joining the HoloLens user could interact with a 3D space on a 2D input plane.


    +figure("skype-for-hololens", "Commander Scott Kelly using Skype for HoloLens on the ISS as part of NASA's 'Project Sidekick' initiative.")
    
